DATABASE_URL=postgresql+psycopg2://mohammad:mohammad_password@localhost:5432/energy_weather
POSTGRES_USER=mohammad
POSTGRES_PASSWORD=mohammad_password
POSTGRES_DB=energy_weather
ENTSOE_API_KEY=replace_with_your_entsoe_token

